  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .alert {
    animation: fadeIn 1s;
  }

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #00a65a!important;
    border-color: #008d4c!important;
}
.dataTables_filter>label{
float: right;
}
ul.pagination{
float: right;
}
input[type='file']{
/* opacity:0;
width: 92px;
height: 30px;
position:absolute;
left:0;
top:0;
cursor: pointer; */
display: none;
}

.btn-r-img,.btn-r-def-img{
position: absolute;
right: 0;
}

.imgs-preview{
background: #111111;
object-fit:contain;
width:200px;
height:200px
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a!important;
}

.profile-user-img {
border: unset;
padding: unset;
}
.img-circle{
border-radius: unset;

}
.flex-td{
display: flex;
}
.flex-td>button{
  margin-right: 2px;
}
.dt-buttons{
  position: absolute;
}
#DataTables_Table_0_length{
position: absolute;
}
div.dt-buttons{
float: unset;
    margin-bottom: 1rem;
}
input[type='search'] {
    border: 1px solid #d2d6de!important;
}